$aside-bg: #000;
$footer-bg: #181818;
$color-gradient-1: #222222;
$color-gradient-2: #1F1F1F;
$color-gradient-3: #171717;
$color-gradient-4: #151515;
$color-gradient-5: #131313;
$color-gradient-6: #121212;

$text-color: #a8a8a8;
$text-color2: #fff;

$row-color: #ffffff31;

$arrow-color: #7B7B7B;

$hover-bg: #282828;

$button-bg: rgb(97, 245, 97);

$card-bg: #4e4d4d;